<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order</title>
    <style>
        body {
            text-align: center;
        }
        .error {
            color: red;
            float: right;
            margin-left: 20px;
        }
        table {
            margin: 0 auto;
        }
        td {
            background: #eeeeee;
            padding: 10px;
            text-align: center;
        }
        .orderTable td:last-child {
            font-weight: bold;
        }
        span#seconds {
            color: blue;
            font-size: 120%;
        }
    </style>
</head>
<body>
    {% block main %}
    {% endblock %}
</body>
</html>