{% extends "base.html" %}
{% block main %}

    <h1>Specify information for payment</h1>

    <form method="post">
        <table>
            <tr><td>{{order_form.amount.label}}</td><td>
                <input id="{{order_form.amount.name}}" value="1" step="0.01"
                       name="{{order_form.amount.name}}" type="number" min="0.01">
                <div class="error">
                {% for error in order_form.amount.errors %}
                    {{ error }}<br/>
                {% endfor %}
            </div></td></tr>
            <tr><td>{{order_form.currency.label}}</td><td>{{order_form.currency}}
                <div class="error">
                {% for error in order_form.currency.errors %}
                    {{ error }}<br/>
                {% endfor %}
            </div></td></tr>
            <tr><td>{{order_form.description.label}}</td><td>{{order_form.description}}</td></tr>
            <tr><td colspan="2"><input type="submit" /></td></tr>
        </table>
    </form>
{% endblock %}