{% extends "base.html" %}
{% block main %}

    {% if error %}
        <h1>Error during request to Payment service</h1>
        {{ error }}
    {% else %}

        <h1>Redirect to payment service</h1>

        You will be redirected in <span id="seconds">5</span> seconds. If not - click the button, please
        <br/><br/>
        {% include "payment_table.html" %}
        <br/>
        <form id="PayForm" name="Pay" method="{{redirect_form.method.data}}" action="{{redirect_form.url.data}}" accept-charset="UTF-8">
            {{redirect_form.print_hidden()}}
            <input type="submit" />
        </form>

        <script type="application/javascript">
            let form = document.getElementById('PayForm');
            let seconds = document.getElementById('seconds');
            window.setInterval(() => {
                if (seconds.innerText == '1') {
                    form.submit();
                } else {
                    seconds.innerText = seconds.innerText - 1;
                }
            }, 1000)
        </script>
    {% endif %}

{% endblock %}