<table class="orderTable">
    <tr><td>Payment type</td><td>{{ payment_type }}</td></tr>
    <tr><td>Amount:</td><td>{{ order.amount }} {{ order.currency }}</td></tr>
    <tr><td>Description:</td><td>{{ order.description }}</td></tr>
</table>